html, body {
    height: 100%;
}

body {
    background-image: url('Image/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 20px;
    font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
    html, body {
        height: 100%;
    }
    body {
        background-attachment: scroll;
        margin: 0;
    }
}

header {
    background-color: #4a90e2;
    border-radius: 20px;
    color: white;
    padding: 10px 0;
    margin: 20px auto;
    text-align: center;
    width: 700px;
}

header h3 {
    font-style:italic;
    text-decoration: underline;
}

header p {
    font-weight: bold;
    font-style: italic;
    text-align: right;
    margin-right: 20px;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid lightblue;
}

section {
    background-color: skyblue;
    text-align: center;
    display: block;
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 20px;
    color: whitesmoke;
}

section a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section .btn {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 700px;
    max-width: 100%;
    justify-content: center;
    text-align: center;
    animation-name: fadeSlide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0;
}

section .btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

@keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#github {
    background: black;
    animation-delay: 0.25s;
}

#github img {
    margin-right: 5px;
}

#github:hover {
    background: #333;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.6);
}

#linkedin {
    background: #0077b5;
    animation-delay: 0.25s;
}

#linkedin:hover {
    background: #005582;
    box-shadow: 0 0 10px rgba(0, 119, 181, 0.6);
}

#discord {
    background: #7289da;
    animation-delay: 0.25s;
}

#discord img {
    margin-right: 5px;
}

#discord:hover {
    background: #5b6eae;
    box-shadow: 0 0 10px rgba(114, 137, 218, 0.6);
}

footer {
    text-align: right;
    user-select: none;
    color: whitesmoke;
}